@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply w-full h-full font-sans bg-light-gray m-0 p-0 box-border;
  }
  
  #root {
    @apply max-w-80 md:max-w-2xl lg:max-w-4xl xl:max-w-6xl font-normal my-0 mx-auto py-8 px-0;
  }

  h1 {
    @apply text-3xl md:text-6xl font-medium text-black;
  }

  a {
    @apply no-underline cursor-pointer;
  }

  ul li {
    @apply list-none;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-3xl px-4 md:px-6 py-1 text-lg text-black font-normal bg-green hover:bg-light-green cursor-pointer shadow-md;
  }

  .input-class {
    @apply h-[52px] w-[280px] bg-white px-[18px] py-4 rounded-lg border-[0.7px] border-solid border-[rgba(148,166,190,0.4)] mb-2.5 placeholder:font-normal placeholder:text-lg placeholder:text-[#94a6be] focus:outline-none
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f7f7f7;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }

.line{
  width: 320px;
  border: 1px solid #38383629;
 }

}